*,h1,h2,h3,h4,h5,ul,li,a{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration:none;
}
html {
  font-size:13.3333vw !important
}

.aboutUs{
 position: relative;
}
.aboutUs header{
  width: 100%;
  position: fixed;
  left: 0;
  top:0;
  z-index: 1000;
}
.aboutUs header h1{
  height: 1.1rem;
  width: 100%;
  background: #000;
  text-align: center;
  line-height: 0.88rem;
  color:#fff;
  font-size:0.35rem;
}
.aboutUs .banner {
  width: 7.5rem;
  height: 5.02rem;
  background: url('../images/aboutUs_banner.jpg');
  background-size: 100% 100%;
}
.aboutUs .bodys {
  width: 100%;
  padding:0 0.3rem ;
  box-sizing: border-box
}
.aboutUs .bodys .jianjie {
  font-size: 0.22rem;
  line-height: 0.32rem;
  text-align: left;
  line-height: 0.4rem;
}
.hide_box {
  display: none
}

/* 人物介绍 */
 /* 老板 */
 .aboutUs .our-boss {
  width: 100%;
  margin:0 auto;
  position: relative;
}
.aboutUs .our-boss ul {
  width: 100%;
  padding-bottom: 1.2rem;
}
.aboutUs .our-boss ul li {
  width: 100%;
  text-align: center;
  margin-top:0.8rem
}
.aboutUs .our-boss ul li.lastMargin {
  margin-top:0.6rem
}
.aboutUs .our-boss ul li.firsts{
  margin-top:0.6rem
}
.aboutUs .our-boss ul li .head h3 {
  font-size: 0.48rem;
  font-weight: 600;
  color: #888;
}
.aboutUs .our-boss ul li .head  img{
 width: 1.5rem;
 height: 0.17rem;
 display: block;
 margin: 0.1rem auto;
}
.aboutUs .our-boss ul li .bodys .boss {
  width:6.15rem;
  height: 9rem;
  background: url('../images/boss_1.png') no-repeat top;
  background-size: 100% 6.15rem;
  margin:0.5rem auto ;
  overflow: hidden;
  
}
.aboutUs .our-boss ul li .bodys .boss .texts {
  width: 100%;
  margin-top: 4.8rem
}
.aboutUs .our-boss ul li .bodys .boss h4 {
  font-size: 0.36rem;
  font-weight: 600;
  text-align: center;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #202127;
}
/* 投资人 */
.aboutUs .our-boss ul li .bodys .boss .texts-1 {
  font-size: 0.22rem;
  color: #664905;
  text-align: center;
  margin: 0
}
.aboutUs .our-boss ul li .bodys .boss .texts-2 {
  padding-top:0.02rem;
  margin-top:0.6rem;
  text-align: center;
  font-size: 0.20rem;
  line-height: 0.4rem
}
.aboutUs .our-boss ul li .bodys ul li{
/* width: 5.6rem; */
}
.aboutUs .our-boss ul li .bodys ul li .top {
width: 100%;
display: flex
}
.aboutUs .our-boss ul li .bodys ul li .top .head-png{
  width: 2.2rem;
  text-align: center;
}
.aboutUs .our-boss ul li .bodys ul li .top .head-png img {
  width: 1.9rem;
  height: 1.9rem;
  margin-top:0.25rem
}
.aboutUs .our-boss ul li .bodys ul li .top .texts {
  overflow: hidden;
  flex: 1
}
.aboutUs .our-boss ul li .bodys ul li .top .texts h4{
  font-size: 0.24rem;
  line-height: 0.4rem;
  height: 0.4rem;
  margin-top:0.4rem;
  text-align: left;
  color: #202127;
  font-weight: 600
}
.aboutUs .our-boss ul li .bodys ul li .top .texts .texts-1 {
  font-size: 0.18rem;
  color: #666666;
  text-align: left;
  margin: 0
}
.aboutUs .our-boss ul li .bodys ul li .top .texts .texts-2 {
  margin-top:0.25rem;
  border-top: #e3e4e5 0.01rem solid;
  padding-top: 0.1rem ;
  text-align: left;
  color: #888888;
  font-size: 0.2rem;
  margin-bottom: 0.1rem;
  line-height: 0.4rem

}
.aboutUs .our-boss ul li .bodys ul li .bottom {
  height: 0.3rem;width: 4.7rem;
  float: right;
}
.aboutUs .our-boss ul li .bodys ul li .bottom .more {
  width: 0.8rem;
  height: 0.3rem;
  background: url('../images/more.png');
  background-size: 100% 100%;
  
  cursor: pointer;
}
/* 遮罩 */
.aboutUs .investor .show_box{
  width:6.5rem;
  height:11rem;
  position: fixed;
  top:-4%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 2000;
  background-color: white;
}
.aboutUs .investor .show_box .doc_show{
  width:6.5rem;
  height:11rem;
  background-color:white;
  position: absolute;
  top:0.6rem;
  left: 0;
  /* box-shadow: 0.1rem 0.1rem 0.1rem -0.04rem rgba(0,0,0,0.1); */
}
.aboutUs .investor .show_box .close{
  width: 0.4rem;
  height: 0.4rem;
  background:url("../images/close.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
  right: 0.2rem;
  top:0.2rem;
}
.aboutUs .investor .show_box .left_img{
  width: 2.08rem;
  height: 2.08rem;
  margin:  0 auto
}
.aboutUs .investor .show_box .left_img img {
  width: 100%;
  height: 100%;
}
.aboutUs .investor .show_box .right_doc{
  width:6rem;
  margin: 0 auto

}
.aboutUs .investor .show_box .right_doc h4{
  color:#202127;
  font-size: 0.24rem;
  font-weight:600;
  height: 1rem;
  line-height: 1rem;
  text-align: center
}
/*字号16px 颜色2c3e55*/
.aboutUs .investor .show_box .right_doc p{
   font-size: 0.16rem;
   color:#666;
   margin-top: 0.2rem;
   text-align: left;
  line-height: 0.4rem;
  margin-top: 0
}

.shadow_box {
  width: 100%;
  height: 100%;
  background: rgba(00,17,25,0.85);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1995;
  display: none;
}
 /*底部*/
 .aboutUs .footer .dibu {
  width:100%;
  background: #000;
  position: absolute;
  bottom: 0;
  left:0;
}
/* 最底部 */
/*底部*/

/* .aboutUs .footer .dibu .bottom  {
width: 100%;
margin: 0 auto;
height: 0.66rem;
position: relative
/* display: flex; */
/* } */
/* .aboutUs .footer  .dibu .bottom ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
}
.aboutUs .footer  .dibu .bottom ul li {
  font-size: 0.08rem;
  color: #fff;
  text-align: center;
}
.aboutUs .footer .dibu .bottom ul li .jing{
  width: 0.18rem;
  height: 0.18rem;
  vertical-align:middle;
} */ 
.aboutUs .footer .dibu .bottom {
  width: 100%;
  margin: 0 auto;
  position: relative
      /* display: flex; */
}

.aboutUs .footer .dibu .bottom ul {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
 
}
.aboutUs .footer .dibu .bottom ul li {
  font-size: 0.12rem;
  color: #fff;
  text-align: center;
 
}
.aboutUs .footer .dibu .bottom ul li .jing{
  width: 0.18rem;
  height: 0.18rem;
  vertical-align:middle;
}
/* 背景图 */
.bgn_1{
  width: 7.5rem;
  height: 2.7rem;
  background: url('../images/aboutUs_b.png') no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  z-index: -1

}
.bgn_2{
  width: 0.46rem;
  height: 0.46rem;
  background: url('../images/about_c.png') no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 9rem;
  left: 5rem;

}
.bgn_3{
  width: 0.88rem;
  height: 1.6rem;
  background: url('../images/about_r.png') no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 9rem;
  right:0;

}
.back {
  width: 0.3rem;
  height: 0.4rem;
  background: url('../images/back.png') no-repeat center;
  background-size: 100% 100%;
  position: fixed;
  left: 0.3rem;
  top:0.3rem;
 
}
#banquan{
  width:0.3rem;
  height: .3rem;
  position: relative;
  left: 0;
  top:5%;
  transform: translateY(20%)
}
li .li-jing{
  width: .2rem;
  height: .2rem;
}
.add-footer{
    color:#fff;
    font-size: .12rem;
    text-align: left;
    width: 6.6rem;
    margin: 0 auto;
    padding: .1rem 0;
}