/* 公共demo */

html,
body,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
dl,
dd,
dt,
p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* 清除浮动 */

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

html,
body {
    width: 100%;
    overflow-x: hidden
}

.haicao {
    width: 100%;
}

.clear-margin-right {
    margin-right: 0 !important
}

/* 公共部分结束 */

@media (min-width:1920px) {
    html {
        font-size: 100px;
        background: #f8f8f8
    }
}

/* 最大的宽度 max-width = 1200px */

@media (max-width:1920px) {
    html {
        font-size: 5.20833vw;
        background: #f8f8f8
    }
}

nav {
    width: 100%;
    background: rgba(10, 10, 10, 1);
    color: #fff;
    font-size: .24rem;
    .nav-body {
        width: 12rem;
        height: 1.2rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .body-1 {
            font-size: .36rem;
            display: flex;
            justify-content: left;
            align-items: center;
            img {
                width: .82rem;
                height: .82rem;
            }
            span {
                color: #fff;
            }
        }
        ul {
            display: flex;
            align-items: center;
            li {
                height: .56rem;
                padding: 0 .3rem 0;
                color: #C5C5C5;
                text-align: center;
                line-height: .56rem;
                margin-right: .32rem;
                font-size: .3rem;
            }
            .active {
                background: #FFC700;
                border-radius: .28rem .28rem;
                color: #000
            }
        }
    }
}

.banner {
    height: 7.36rem;
    background: url('./../images/us-bg.png') no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    .banners {
        width: 100%;
        height: 0;
        color: #fff;
        overflow: hidden;
        .txt1 {
            font-size: .5rem;
            text-align: center;
            line-height: .72rem;
            margin-top: 1.5rem
        }
        .txt2 {
            font-size: .2rem;
            line-height: .4rem;
            text-align: center;
            margin-top: .3rem
        }
    }
}

.booss-tit {
    width: 1.54rem;
    height: 7.6rem;
    background: url('./../images/us-boss.png') no-repeat center;
    background-size: 100% 100%;
    margin: .86rem auto 0
}

.boss {
    width: 10.6rem;
    height: 7.52rem;
    margin: .66rem auto 0;
    position: relative;
    .bosss {
        width: 10.6rem;
        height: 0;
        overflow: hidden;
        .bosss2 {
            width: 10.6rem;
            height: 7.52rem;
            background: url('./../images/boss.png') no-repeat center;
            background-size: 100% 100%;
            .text {
                position: absolute;
                left: 5.05rem;
                top: 3.97rem;
                width: 5rem;
                font-size: .18rem;
                line-height: .36rem;
                color: #fff;
                height: 0;
                overflow: hidden;
                .tit {
                    height: .66rem;
                    text-align: left;
                    line-height: .66rem;
                    border-bottom: #F4C102 solid .02rem;
                    p {
                        font-size: .36rem;
                        span {
                            font-size: .24rem
                        }
                    }
                }
            }
        }
    }
}

.invister-tit {
    width: 1.5rem;
    height: .76rem;
    background: url('./../images/us-veste.png') no-repeat center;
    background-size: 100% 100%;
    margin: .86rem auto 0
}

.invister-1 {
    width: 12rem;
    margin: 0 auto;
    height: 6.19rem;
    .invister-1s {
        width: 12rem;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        height: 0rem;
        justify-content: space-between;
        position: relative;
        .invister-1-1 {
            width: 4.84rem;
            height: 6.19rem;
            background: url('./../images/us-in-1.png') no-repeat center;
            background-size: 100% 100%;
            position: relative;
        }
        .invister-1-2 {
            width: 4.84rem;
            height: 6.19rem;
            background: url('./../images/us-in-2.png') no-repeat center;
            background-size: 100% 100%;
            margin-left: 2.16rem
        }
    }
}

.invister-2 {
    width: 16rem;
    margin: 0 auto;
    height: 6.19rem;
    .invister-2s {
        width: 16rem;
        margin: 0 auto;
        height: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        .invister-2-1 {
            width: 8.48rem;
            height: 6.19rem;
            background: url('./../images/us-in-3.png') no-repeat center;
            background-size: 100% 100%;
        }
        .invister-2-2 {
            width: 8.48rem;
            height: 6.19rem;
            background: url('./../images/us-in-4.png') no-repeat center;
            background-size: 100% 100%;
            margin-left: .7rem
        }
        .invister-2-3 {
            width: 8.48rem;
            height: 6.19rem;
            background: url('./../images/us-in-5.png') no-repeat center;
            background-size: 100% 100%;
            margin-left: .7rem
        }
    }
}

.invister-item {
    position: relative;
    .text {
        width: 3.5rem;
        color: #fff;
        text-align: left;
        position: absolute;
        left: .9rem;
        top: 2.8rem;
        height: 0;
        overflow: hidden;
        .name {
            font-size: .24rem;
            line-height: .48rem;
            font-weight: bold;
        }
        .tit {
            font-size: .18rem;
        }
        .disc {
            font-size: .16rem;
            line-height: .24rem;
            border-top: .01rem solid rgba(145, 147, 155, 0.2);
            margin-top: .2rem;
            padding-top: .1rem
        }
        .btns {
            background: url('./../images/more.png') no-repeat center;
            background-size: 100% 100%;
            width: .9rem;
            height: .3rem;
            margin-top: .1rem;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

/*底部*/

.footer-bg {
    width: 100%;
    height: 2.52rem;
    background: url('./../images/zx-bottom.png') no-repeat center;
    background-size: 100% 100%;
}

.haicao .bottom {
    width: 100%;
    background: #1a1c23;
}

.haicao .bottom ul {
    width: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.66rem;
    margin: 0 auto
}

.haicao .bottom ul li {
    list-style: none;
    font-size: 0.18rem;
    padding-left: 0.1rem;
    color: #fff;
    height: 0.66rem;
    line-height: 0.66rem;
    margin-right: 0.2rem;
    float: left;
    position: relative;
}

.haicao .bottom ul li img {
    width: 0.16rem;
    height: 0.16rem;
    ;
    position: absolute;
    top: 50%;
    left: -0.02rem;
    transform: translateY(-70%)
}

.outSideFir {
    width: 100%;
}

.outSideFir dl {
    width: 100%;
}

.outSideFir dl dt {
    font-size: 18px;
    margin: 5px 0 5px 120px;
    cursor: pointer;
}

.outSideFir dl dd {
    display: flex;
    margin: 0 0 10px 120px
}

.outSideFir dl dd a {
    flex: 1;
    font-size: 16px;
    color: #555;
    text-decoration: none;
}

/* 津公安备网下标 */

/* #gongan {
    position: relative
  }
  #gongan img {
    position: absolute;
    right: 0 !important;
    top:0 !important
  } */